body, html { 
    margin: 0;
    padding: 0;
}

/* Sets position and background colour for navbar */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

/* Sets list style */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

/* Sets font, size and colour of words for navbar */
.navbar li {
    display: inline-block;
    margin: 0 40px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

/* Sets hover button background colour and size */
.navbar li:hover {
    cursor: pointer;
    background-color: #777;
    border-radius: 7px;
    transition: background-color 0.6s ease;
}

/* Removes underline from words in navbar */
.navbar li a {
    text-decoration: none;
}

/* Removes purple text when visiting link, instead stays same colour */
.navbar li a:visited {
    color: #fff;
}
